<a class="btn btn-primary" ui-sref="patrocinador-form">Agregar Patrocinador</a>
<div class="table-responsive">
	<table class="table table-hove">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Direccion</th>
				<th>Descripcion</th>
				<th colspan="2">Opciones</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="w in vm.patrocinadores track by $index">
				<td>{{w.nombre}}</td>
				<td>{{w.direccion}}</td>
				<td>{{w.descripcion}}</td>
				<td>
					<a ui-sref="patrocinador-edit({id: w.id})">Editar</a><br>
				</td>
				<td>
					<button class="btn btn-danger" ng-click="vm.deletePatrocinador(w.id)">Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>