<form role="form" ng-submit="crearPremio(premio) || actualizarPremio(premio)">
    <legend>Registrar Premios</legend>
    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre" required ng-model="registrarPremios.nombre">
  
      <label for="">Descripcion</label>
      <textarea name ="" class="form-control" placeholder="Descripcion" maxlength="160" rows="3" ng-model="registrarPremios.descripcion" rows="3"></textarea>
  
      <label for="">Valor Aproximado</label>
      <input type="number" class="form-control" id="valor" placeholder="1.00" step="0.01" min="0" max="100000000000000" ng-model="registrarPremios.valor">
      
      <label for="">Patrocinador</label>
      <select name="patrocinador" class="form-control" id="patrocinador" placeholder="Patrocinador" ng-model="registrarPremios.patrocinador"> 
        <option value="patrocinador1">Patrocinador 1</option> 
        <option value="patrocinador1" selected>Patrocinador 2</option>
      </select>

      <label for="">Estado</label>
      <input type="number" class="form-control" id="estado" placeholder="Activo"  min="0" max="1" ng-model="registrarPremios.estado" >
    </div>
  
    <button type="submit" class="btn btn-primary">Guardar</button>
  
    <a class ="btn btn-default" ui-sref="registrarPremios" role = "button">Cancelar</a>
  
    {{registrarPremios.nombre}}
  </form>
  